        <div class='col-sm-9'>
          <!-- left col-->
          <div class="panel panel-default">
            <div class="panel-heading">
            <h3 class="panel-title">Enter Meal Details</h3>
            </div>
            <div class="panel-body">
              <form name='calculator' novalidate>
                Base meal price: $ <input type="number" name="mealBase"  ng-model="mealBase" /><br><br>
                Tax Rate: % <input type="number" name="taxRate"  ng-model="taxRate" /><br><br>
                Tip Percentage: % <input type="number" name="tipRate"  ng-model="tipRate" /><br><br>
                <button type='submit' ng-click="calcCustCharge();">Calculate</button><button class="pull-right" ng-click='cancel();'>Cancel</button>
              </form>
            </div>
          </div>