/* Styles go here */

body{
	font-family: Lato, sans-serif;
	font-size: 16px;

}

h1,h2,h3,h4,h5,h6{
	font-family: Oswald, sans-serif;
	font-weight:400;
	letter-spacing: .03em;
}
input{
	margin-bottom: 10px;
}

a, a:active, a:visited{
    color: #4c90a5;
}


.nobull{
 list-style: none;
}
.nobull .nobull-item{
  display: inline;
  text-transform: uppercase;
}